__pycache__/mobility_asesement.cpython-310.pyc
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
__pycache__/
/.idea/
__pycache__/login.cpython-310.pyc
__pycache__/login.cpython-310.pyc
__pycache__/signup.cpython-310.pyc
__pycache__/StrengthUI.cpython-310.pyc
